In [21]:
import pandas as pd

In [22]:
diccionario= {'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
       'edad': [18, 22, 20, 21],
       'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
       'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
       }
       
Lista_de_Listas = [['María', 18],
         ['Luis', 22],
         ['Carmen', 20]]
                  
Lista_diccionario = [{'Nombre': 'María', 'Edad': 18},
         {'Nombre': 'Luis', 'Edad': 22},
         {'Nombre': 'Carmen'}]

In [23]:
print(diccionario)  # también se puedesn generar df con arrays
print(Lista_de_Listas)
print(Lista_diccionario)

{'nombre': ['María', 'Luis', 'Carmen', 'Antonio'], 'edad': [18, 22, 20, 21], 'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'], 'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']}
[['María', 18], ['Luis', 22], ['Carmen', 20]]
[{'Nombre': 'María', 'Edad': 18}, {'Nombre': 'Luis', 'Edad': 22}, {'Nombre': 'Carmen'}]

In [24]:
df=pd.DataFrame(diccionario)
df

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [25]:
df=pd.DataFrame(Lista_de_Listas)
df

        0   1
0   María  18
1    Luis  22
2  Carmen  20

In [26]:
df=pd.DataFrame(Lista_diccionario)
df

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

In [27]:
df=pd.DataFrame(Lista_de_Listas, columns=["Nombre","Edad"])
df

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

In [28]:
# Desde fuentes read;
#para deescargar y descomprimir: wget https://github.com/ricardoahumada/DataScienceBasics/raw/refs/heads/main/data/data.zip
# unzip data.zip (en el directorio que quiero que de descarge y descomprima)
# pd.read_csv (ruta)

In [31]:
dfcol=pd.read_csv('../Data/colesterol.csv')
print(dfcol)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [32]:
dfcol=pd.read_csv('https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/colesterol.csv')
print (dfcol)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0