In [2]:
import pandas as pd

In [3]:
diccionario= {'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
       'edad': [18, 22, 20, 21],
       'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
       'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
       }
       
Lista_de_Listas = [['María', 18],
         ['Luis', 22],
         ['Carmen', 20]]
                  
Lista_diccionario = [{'Nombre': 'María', 'Edad': 18},
         {'Nombre': 'Luis', 'Edad': 22},
         {'Nombre': 'Carmen'}]

In [4]:
print(diccionario)  # también se puedesn generar df con arrays
print(Lista_de_Listas)
print(Lista_diccionario)

{'nombre': ['María', 'Luis', 'Carmen', 'Antonio'], 'edad': [18, 22, 20, 21], 'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'], 'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']}
[['María', 18], ['Luis', 22], ['Carmen', 20]]
[{'Nombre': 'María', 'Edad': 18}, {'Nombre': 'Luis', 'Edad': 22}, {'Nombre': 'Carmen'}]

In [ ]:
df=pd.DataFrame(diccionario)
df

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [6]:
df=pd.DataFrame(Lista_de_Listas)
df

        0   1
0   María  18
1    Luis  22
2  Carmen  20

In [ ]:
df=pd.DataFrame(Lista_diccionario)
df

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

In [8]:
df=pd.DataFrame(Lista_de_Listas, columns=["Nombre","Edad"])
df

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

In [9]:
# Desde fuentes read;
#para deescargar y descomprimir: wget https://github.com/ricardoahumada/DataScienceBasics/raw/refs/heads/main/data/data.zip
# unzip data.zip (en el directorio que quiero que de descarge y descomprima)
# pd.read_csv (ruta)

In [ ]:
dfcol=pd.read_csv('../Data/colesterol.csv')
print(dfcol)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [ ]:
dfcol=pd.read_csv('https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/colesterol.csv')
print (dfcol) #también se puede cargar directamente con url (wget y con raw)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [ ]:
dffr=pd.read_json('../Data/frutas.json')
dffr

       apples  oranges
Luis        3        0
Ana         2        3
Juana       0        7
Pedro       1        2

In [13]:
#squlite es tipo de bbdd; necesitaremos las librerías correspondientes
import sqlite3

In [14]:
con_sqlite=sqlite3.connect('../Data/database.db') #bbdd sencillita;la conexión puede ser una url si está en local
dfdb=pd.read_sql_query("SELECT * FROM movies",con_sqlite)
con_sqlite.close() # es conveniente cerrar la conexión; más importante si es bbdd en un servidor, reduce rendimiento
dfdb

,title,movieId,genres
0,Toy Story (1995),1,Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),2,Adventure|Children|Fantasy
2,Grumpier Old Men (1995),3,Comedy|Romance
3,Waiting to Exhale (1995),4,Comedy|Drama|Romance
4,Father of the Bride Part II (1995),5,Comedy
...,...,...,...
9737,Black Butler: Book of the Atlantic (2017),193581,Action|Animation|Comedy|Fantasy
9738,No Game No Life: Zero (2017),193583,Animation|Comedy|Fantasy
9739,Flint (2017),193585,Drama
9740,Bungo Stray Dogs: Dead Apple (2018),193587,Action|Animation
9741,Andrew Dice Clay: Dice Rules (1991),193609,Comedy

In [15]:
#!pip install openpyxl # necesario para abrir y explorar xls

In [16]:
import openpyxl

In [ ]:
dfxls=pd.read_excel('../Data/FoodMarket.xlsx',sheet_name='Purchases') #hay que conocer las hojas
dfxls

      Code  Product  Seller  Buyer      Fecha  Quantity
0        1       15      37     90 2020-11-10        25
1        2       46      32     51 2020-09-19        16
2        3       44      27    166 2019-02-19        25
3        4       52      21     68 2020-06-08        40
4        5       20      21    185 2019-01-18        36
...    ...      ...     ...    ...        ...       ...
1496  1497       10      18    199 2020-11-23        34
1497  1498       63      58     38 2020-03-13        35
1498  1499       28       5     81 2020-03-02        31
1499  1500       21       2    194 2021-02-18        35
1500  1501       33       8    120 2020-03-13        12

[1501 rows x 6 columns]

In [18]:
#Exportar, transformación y guardar como
dfxls.to_csv('../Data/Purchases.csv')

In [19]:
dfxls.to_json('../Data/Purchases.json')

In [20]:
#almacenamiento en bbd; le da error al profe también
con_sqlite=sqlite3.connect('../Data/database.db')
dfxls.to_sql(name="Purchases",con=con_sqlite)

OperationalError: database is locked

In [60]:

# Atributos; explorar datos
dfxls

      Code  Product  Seller  Buyer      Fecha  Quantity
0        1       15      37     90 2020-11-10        25
1        2       46      32     51 2020-09-19        16
2        3       44      27    166 2019-02-19        25
3        4       52      21     68 2020-06-08        40
4        5       20      21    185 2019-01-18        36
...    ...      ...     ...    ...        ...       ...
1496  1497       10      18    199 2020-11-23        34
1497  1498       63      58     38 2020-03-13        35
1498  1499       28       5     81 2020-03-02        31
1499  1500       21       2    194 2021-02-18        35
1500  1501       33       8    120 2020-03-13        12

[1501 rows x 6 columns]

In [61]:
dfxls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Code      1501 non-null   int64
 1   Product   1501 non-null   int64
 2   Seller    1501 non-null   int64
 3   Buyer     1501 non-null   int64
 4   Fecha     1501 non-null   datetime64[ns]
 5   Quantity  1501 non-null   int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 70.5 KB

In [66]:
dfxls.shape

(1501, 6)

In [65]:
dfcol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 800.0+ bytes

In [63]:
dfcol.size

84

In [64]:
dfcol.shape

(14, 6)

In [71]:
print(dfxls.columns)
print(dfxls.index)
print(dfxls.axes)
print(dfxls.values)

Index(['Code', 'Product', 'Seller', 'Buyer', 'Fecha', 'Quantity'], dtype='object')
RangeIndex(start=0, stop=1501, step=1)
[RangeIndex(start=0, stop=1501, step=1), Index(['Code', 'Product', 'Seller', 'Buyer', 'Fecha', 'Quantity'], dtype='object')]
[[1 15 37 90 Timestamp('2020-11-10 00:00:00') 25]
 [2 46 32 51 Timestamp('2020-09-19 00:00:00') 16]
 [3 44 27 166 Timestamp('2019-02-19 00:00:00') 25]
 ...
 [1499 28 5 81 Timestamp('2020-03-02 00:00:00') 31]
 [1500 21 2 194 Timestamp('2021-02-18 00:00:00') 35]
 [1501 33 8 120 Timestamp('2020-03-13 00:00:00') 12]]

In [40]:
print(dfxls.index)

RangeIndex(start=0, stop=1501, step=1)

In [72]:
print(dfcol.dtypes)

nombre         object
edad            int64
sexo           object
peso          float64
altura        float64
colesterol    float64
dtype: object

In [73]:
dfxls.head()

   Code  Product  Seller  Buyer      Fecha  Quantity
0     1       15      37     90 2020-11-10        25
1     2       46      32     51 2020-09-19        16
2     3       44      27    166 2019-02-19        25
3     4       52      21     68 2020-06-08        40
4     5       20      21    185 2019-01-18        36

In [74]:
dfxls.tail(2)

      Code  Product  Seller  Buyer      Fecha  Quantity
1499  1500       21       2    194 2021-02-18        35
1500  1501       33       8    120 2020-03-13        12

In [75]:
dfxls.describe()

              Code      Product       Seller        Buyer     Quantity
count  1501.000000  1501.000000  1501.000000  1501.000000  1501.000000
mean    751.000000    34.712192    28.788141   104.956696    31.341106
std     433.445691    19.974111    16.557750    59.825625     7.333365
min       1.000000     1.000000     1.000000     1.000000    12.000000
25%     376.000000    17.000000    14.000000    51.000000    26.000000
50%     751.000000    34.000000    28.000000   106.000000    31.000000
75%    1126.000000    52.000000    43.000000   158.000000    37.000000
max    1501.000000    70.000000    58.000000   207.000000    50.000000

In [ ]:
# Renombrar y modificar (índices y columnas)

In [214]:
dfcol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [215]:
dfcol.rename(columns={'nombre':'nombre y apellido','peso':'pesos'},index={0:100,10:66}) 
#no se modifica el df original

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [216]:
dfcol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [217]:
dfcol2=dfcol.rename(columns={'nombre':'nombre y apellido','peso':'pesos'},index={0:100,10:66})
dfcol2

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [218]:
# utilizando inplace

dfcol.rename(columns={'nombre':'nombre y apellido','peso':'pesos'},index={0:100,10:66},inplace=True) 
#se modifica el df original
dfcol

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [219]:
# Agrupación de datos; por multiindice
dfcol.set_index('nombre y apellido')

                                 edad sexo  pesos  altura  colesterol
nombre y apellido
José Luis Martínez Izquierdo       18    H   85.0    1.79       182.0
Rosa Díaz Díaz                     32    M   65.0    1.73       232.0
Javier García Sánchez              24    H    NaN    1.81       191.0
Carmen López Pinzón                35    M   65.0    1.70       200.0
Marisa López Collado               46    M   51.0    1.58       148.0
Antonio Ruiz Cruz                  68    H   66.0    1.74       249.0
Antonio Fernández Ocaña            51    H   62.0    1.72       276.0
Pilar Martín González              22    M   60.0    1.66         NaN
Pedro Gálvez Tenorio               35    H   90.0    1.94       241.0
Santiago Reillo Manzano            46    H   75.0    1.85       280.0
Macarena Álvarez Luna              53    M   55.0    1.62       262.0
José María de la Guía Sanz         58    H   78.0    1.87       198.0
Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
Carolina Rubio Moreno              20    M   61.0    1.77       194.0

In [220]:
dfcol.reindex()

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [221]:
dfcol.reindex(index=[4,3,1])

      nombre y apellido  edad sexo  pesos  altura  colesterol
4  Marisa López Collado    46    M   51.0    1.58       148.0
3   Carmen López Pinzón    35    M   65.0    1.70       200.0
1        Rosa Díaz Díaz    32    M   65.0    1.73       232.0

In [226]:
dfcol.reindex(index=[4,3,1], columns=['edad']) # es una especie de filtrado

   edad
4    46
3    35
1    32

In [227]:
#filtrar: usando loc, por posiciones (permite condiciones de filtrado), o por iloc que es por índices
dfcol

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [228]:
dfcol['altura']

100    1.79
1      1.73
2      1.81
3      1.70
4      1.58
5      1.74
6      1.72
7      1.66
8      1.94
9      1.85
66     1.62
11     1.87
12     1.98
13     1.77
Name: altura, dtype: float64

In [229]:
dfcol[['altura','peso','edad']]

KeyError: "['peso'] not in index"

In [230]:
dfcol.iloc[4,3]

51.0

In [231]:
dfcol.iloc[11,0]

'José María de la Guía Sanz'

In [232]:
dfcol.iloc[11,:3] # fila 11, columnas 0,1 y 2

nombre y apellido    José María de la Guía Sanz
edad                                         58
sexo                                          H
Name: 11, dtype: object

In [233]:
dfcol.iloc[:4,3:] #filas 1, 2 y 3, y columnas desde la 3 hasta el final

     pesos  altura  colesterol
100   85.0    1.79       182.0
1     65.0    1.73       232.0
2      NaN    1.81       191.0
3     65.0    1.70       200.0

In [239]:
dfcol

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [240]:
dfcol.loc[:,'pesos']>70 # hay que poner la condición fuera del corchete
# se genera una máscara

100     True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8       True
9       True
66     False
11      True
12      True
13     False
Name: pesos, dtype: bool

In [241]:
mask=dfcol.loc[:,'pesos']>70 #también se puede hacer máscaras con iloc, pero es más lioso
dfcol[mask]

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0

In [242]:
mask2=dfcol.loc[:,['pesos','edad']]>[70,35] #esto pasa por tener dos criterios de búsqueda
print(mask2)
print(dfcol[mask2])

     pesos   edad
100   True  False
1    False  False
2    False  False
3    False  False
4    False   True
5    False   True
6    False   True
7    False  False
8     True  False
9     True   True
66   False   True
11    True   True
12    True  False
13   False  False
    nombre y apellido  edad sexo  pesos  altura  colesterol
100               NaN   NaN  NaN   85.0     NaN         NaN
1                 NaN   NaN  NaN    NaN     NaN         NaN
2                 NaN   NaN  NaN    NaN     NaN         NaN
3                 NaN   NaN  NaN    NaN     NaN         NaN
4                 NaN  46.0  NaN    NaN     NaN         NaN
5                 NaN  68.0  NaN    NaN     NaN         NaN
6                 NaN  51.0  NaN    NaN     NaN         NaN
7                 NaN   NaN  NaN    NaN     NaN         NaN
8                 NaN   NaN  NaN   90.0     NaN         NaN
9                 NaN  46.0  NaN   75.0     NaN         NaN
66                NaN  53.0  NaN    NaN     NaN         NaN
11                NaN  58.0  NaN   78.0     NaN         NaN
12                NaN   NaN  NaN  109.0     NaN         NaN
13                NaN   NaN  NaN    NaN     NaN         NaN

In [243]:
dfcol.loc[1:5,['colesterol','pesos']] #con loc se pueden seleccionar por posiciones y nombres de columnas

   colesterol  pesos
1       232.0   65.0
2       191.0    NaN
3       200.0   65.0
4       148.0   51.0
5       249.0   66.0

In [244]:
mask=dfcol.isin([20,1.7,'Javier García Sánchez'])
mask

     nombre y apellido   edad   sexo  pesos  altura  colesterol
100              False  False  False  False   False       False
1                False  False  False  False   False       False
2                 True  False  False  False   False       False
3                False  False  False  False    True       False
4                False  False  False  False   False       False
5                False  False  False  False   False       False
6                False  False  False  False   False       False
7                False  False  False  False   False       False
8                False  False  False  False   False       False
9                False  False  False  False   False       False
66               False  False  False  False   False       False
11               False  False  False  False   False       False
12               False  False  False  False   False       False
13               False   True  False  False   False       False

In [245]:
dfcol[mask]

         nombre y apellido  edad sexo  pesos  altura  colesterol
100                    NaN   NaN  NaN    NaN     NaN         NaN
1                      NaN   NaN  NaN    NaN     NaN         NaN
2    Javier García Sánchez   NaN  NaN    NaN     NaN         NaN
3                      NaN   NaN  NaN    NaN     1.7         NaN
4                      NaN   NaN  NaN    NaN     NaN         NaN
5                      NaN   NaN  NaN    NaN     NaN         NaN
6                      NaN   NaN  NaN    NaN     NaN         NaN
7                      NaN   NaN  NaN    NaN     NaN         NaN
8                      NaN   NaN  NaN    NaN     NaN         NaN
9                      NaN   NaN  NaN    NaN     NaN         NaN
66                     NaN   NaN  NaN    NaN     NaN         NaN
11                     NaN   NaN  NaN    NaN     NaN         NaN
12                     NaN   NaN  NaN    NaN     NaN         NaN
13                     NaN  20.0  NaN    NaN     NaN         NaN

In [246]:
mask=dfcol.isin({'peso':[75,85]})
mask

     nombre y apellido   edad   sexo  pesos  altura  colesterol
100              False  False  False  False   False       False
1                False  False  False  False   False       False
2                False  False  False  False   False       False
3                False  False  False  False   False       False
4                False  False  False  False   False       False
5                False  False  False  False   False       False
6                False  False  False  False   False       False
7                False  False  False  False   False       False
8                False  False  False  False   False       False
9                False  False  False  False   False       False
66               False  False  False  False   False       False
11               False  False  False  False   False       False
12               False  False  False  False   False       False
13               False  False  False  False   False       False

In [247]:
mask=dfcol.isin({'peso':[75,85],'edad':[39,56]}) #se cumple alguna de las condiciones
mask

     nombre y apellido   edad   sexo  pesos  altura  colesterol
100              False  False  False  False   False       False
1                False  False  False  False   False       False
2                False  False  False  False   False       False
3                False  False  False  False   False       False
4                False  False  False  False   False       False
5                False  False  False  False   False       False
6                False  False  False  False   False       False
7                False  False  False  False   False       False
8                False  False  False  False   False       False
9                False  False  False  False   False       False
66               False  False  False  False   False       False
11               False  False  False  False   False       False
12               False  False  False  False   False       False
13               False  False  False  False   False       False

In [248]:
mask= ~dfcol.isin({'peso':[75,85],'edad':[39,56]}) #se cumple alguna de las condiciones
mask

     nombre y apellido  edad  sexo  pesos  altura  colesterol
100               True  True  True   True    True        True
1                 True  True  True   True    True        True
2                 True  True  True   True    True        True
3                 True  True  True   True    True        True
4                 True  True  True   True    True        True
5                 True  True  True   True    True        True
6                 True  True  True   True    True        True
7                 True  True  True   True    True        True
8                 True  True  True   True    True        True
9                 True  True  True   True    True        True
66                True  True  True   True    True        True
11                True  True  True   True    True        True
12                True  True  True   True    True        True
13                True  True  True   True    True        True

In [249]:
dfcol[mask]

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [250]:
dfcol[mask].dropna() #me quita toda fila que contiene al menos un NaN

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [251]:
#operaciones columnas
dfcol

                   nombre y apellido  edad sexo  pesos  altura  colesterol
100     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2              Javier García Sánchez    24    H    NaN    1.81       191.0
3                Carmen López Pinzón    35    M   65.0    1.70       200.0
4               Marisa López Collado    46    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7              Pilar Martín González    22    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    46    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11        José María de la Guía Sanz    58    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [252]:
#los elementos textuales son de tipo objeto
dfcol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 100 to 13
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre y apellido  14 non-null     object
 1   edad               14 non-null     int64
 2   sexo               14 non-null     object
 3   pesos              13 non-null     float64
 4   altura             14 non-null     float64
 5   colesterol         13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 1.3+ KB

In [253]:
dfcol['edad'].describe() #se puede hacer a nivel de columna

count    14.000000
mean     38.214286
std      15.621379
min      18.000000
25%      24.750000
50%      35.000000
75%      49.750000
max      68.000000
Name: edad, dtype: float64

In [254]:
print(dfcol['edad'].count())
print(dfcol['edad'].mean())
print(dfcol['edad'].std())

14
38.214285714285715
15.62137870123737

In [255]:
dfcol.describe() #no incluye los datos tipo "objeto"

            edad       pesos     altura  colesterol
count  14.000000   13.000000  14.000000   13.000000
mean   38.214286   70.923077   1.768571  220.230769
std    15.621379   16.126901   0.115016   39.847948
min    18.000000   51.000000   1.580000  148.000000
25%    24.750000   61.000000   1.705000  194.000000
50%    35.000000   65.000000   1.755000  210.000000
75%    49.750000   78.000000   1.840000  249.000000
max    68.000000  109.000000   1.980000  280.000000

In [256]:
dfcol.describe(include='object') #describe los datos de tipo objeto; son categóricos como H-M

                   nombre y apellido sexo
count                             14   14
unique                            14    2
top     José Luis Martínez Izquierdo    H
freq                               1    8

In [36]:
dfcol.select_dtypes(include=['int64','float64'])

    edad   peso  altura  colesterol
0     18   85.0    1.79       182.0
1     32   65.0    1.73       232.0
2     24    NaN    1.81       191.0
3     35   65.0    1.70       200.0
4     46   51.0    1.58       148.0
5     68   66.0    1.74       249.0
6     51   62.0    1.72       276.0
7     22   60.0    1.66         NaN
8     35   90.0    1.94       241.0
9     46   75.0    1.85       280.0
10    53   55.0    1.62       262.0
11    58   78.0    1.87       198.0
12    27  109.0    1.98       210.0
13    20   61.0    1.77       194.0

In [257]:
dfcol.select_dtypes(include=['object'])

                   nombre y apellido sexo
100     José Luis Martínez Izquierdo    H
1                     Rosa Díaz Díaz    M
2              Javier García Sánchez    H
3                Carmen López Pinzón    M
4               Marisa López Collado    M
5                  Antonio Ruiz Cruz    H
6            Antonio Fernández Ocaña    H
7              Pilar Martín González    M
8               Pedro Gálvez Tenorio    H
9            Santiago Reillo Manzano    H
66             Macarena Álvarez Luna    M
11        José María de la Guía Sanz    H
12   Miguel Angel Cuadrado Gutiérrez    H
13             Carolina Rubio Moreno    M

In [259]:
# cálculo de IMC e incorporarlo
dfcol['imc']=dfcol['pesos']/(dfcol['altura']**2) # equivalente a dfcol.[peso]
dfcol  #ojo, la añade directamente!

,nombre y apellido,edad,sexo,pesos,altura,colesterol,imc
100,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,26.528510
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,21.718066
2,Javier García Sánchez,24,H,NaN,1.81,191.0,NaN
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,22.491349
4,Marisa López Collado,46,M,51.0,1.58,148.0,20.429418
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,21.799445
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,20.957274
7,Pilar Martín González,22,M,60.0,1.66,NaN,21.773842
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,23.913275
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,21.913806
66,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,20.957171
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,22.305471
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,27.803285
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,19.470778

In [260]:
#para cambiar la tipología de una columna:
dfcol['edad']=dfcol['edad'].astype('int32')
dfcol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 100 to 13
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre y apellido  14 non-null     object
 1   edad               14 non-null     int32
 2   sexo               14 non-null     object
 3   pesos              13 non-null     float64
 4   altura             14 non-null     float64
 5   colesterol         13 non-null     float64
 6   imc                13 non-null     float64
dtypes: float64(4), int32(1), object(2)
memory usage: 1.4+ KB

In [261]:
import pandas as pd

In [262]:
dfcol['date']='2024-10-19'
dfcol

,nombre y apellido,edad,sexo,pesos,altura,colesterol,imc,date
100,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,26.528510,2024-10-19
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,21.718066,2024-10-19
2,Javier García Sánchez,24,H,NaN,1.81,191.0,NaN,2024-10-19
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,22.491349,2024-10-19
4,Marisa López Collado,46,M,51.0,1.58,148.0,20.429418,2024-10-19
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,21.799445,2024-10-19
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,20.957274,2024-10-19
7,Pilar Martín González,22,M,60.0,1.66,NaN,21.773842,2024-10-19
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,23.913275,2024-10-19
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,21.913806,2024-10-19
66,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,20.957171,2024-10-19
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,22.305471,2024-10-19
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,27.803285,2024-10-19
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,19.470778,2024-10-19

In [263]:
dfcol.info() #necesito cambiarlo

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 100 to 13
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre y apellido  14 non-null     object
 1   edad               14 non-null     int32
 2   sexo               14 non-null     object
 3   pesos              13 non-null     float64
 4   altura             14 non-null     float64
 5   colesterol         13 non-null     float64
 6   imc                13 non-null     float64
 7   date               14 non-null     object
dtypes: float64(4), int32(1), object(3)
memory usage: 1.5+ KB

In [264]:
dfcol['date']=pd.to_datetime(dfcol['date'],format='%Y-%m-%d') #también se puede hacer con astype
dfcol.info() # en este caso, no hace falta la librería datetime

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 100 to 13
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nombre y apellido  14 non-null     object
 1   edad               14 non-null     int32
 2   sexo               14 non-null     object
 3   pesos              13 non-null     float64
 4   altura             14 non-null     float64
 5   colesterol         13 non-null     float64
 6   imc                13 non-null     float64
 7   date               14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int32(1), object(2)
memory usage: 1.5+ KB

In [266]:
print(dfcol['date'].dt)
print(dfcol['date'].dt.year) #podría agrupar por fechas
print(dfcol['date'].dt.month)
print(dfcol['date'].dt.day)

<pandas.core.indexes.accessors.DatetimeProperties object at 0x7f34a7d9db40>
100    2024
1      2024
2      2024
3      2024
4      2024
5      2024
6      2024
7      2024
8      2024
9      2024
66     2024
11     2024
12     2024
13     2024
Name: date, dtype: int64
100    10
1      10
2      10
3      10
4      10
5      10
6      10
7      10
8      10
9      10
66     10
11     10
12     10
13     10
Name: date, dtype: int64
100    19
1      19
2      19
3      19
4      19
5      19
6      19
7      19
8      19
9      19
66     19
11     19
12     19
13     19
Name: date, dtype: int64

In [267]:
print(dfcol['date'].dt.to_period('m'))

100    2024-10
1      2024-10
2      2024-10
3      2024-10
4      2024-10
5      2024-10
6      2024-10
7      2024-10
8      2024-10
9      2024-10
66     2024-10
11     2024-10
12     2024-10
13     2024-10
Name: date, dtype: period[M]

In [268]:
import datetime #para calcular deltas de fechas

In [269]:
ahora=datetime.datetime.now()
ahora

datetime.datetime(2025, 1, 30, 16, 58, 15, 186722)

In [270]:
deltatime=ahora-dfcol['date']
print(deltatime)
print(deltatime.dt.days) # indica la parte del delta de tiempo que quieres ver; en este caso, los días

100   103 days 16:58:15.186722
1     103 days 16:58:15.186722
2     103 days 16:58:15.186722
3     103 days 16:58:15.186722
4     103 days 16:58:15.186722
5     103 days 16:58:15.186722
6     103 days 16:58:15.186722
7     103 days 16:58:15.186722
8     103 days 16:58:15.186722
9     103 days 16:58:15.186722
66    103 days 16:58:15.186722
11    103 days 16:58:15.186722
12    103 days 16:58:15.186722
13    103 days 16:58:15.186722
Name: date, dtype: timedelta64[ns]
100    103
1      103
2      103
3      103
4      103
5      103
6      103
7      103
8      103
9      103
66     103
11     103
12     103
13     103
Name: date, dtype: int64

In [271]:
from math import log
dfcol['altura'].apply(log) # el apply aplica a una columna

100    0.582216
1      0.548121
2      0.593327
3      0.530628
4      0.457425
5      0.553885
6      0.542324
7      0.506818
8      0.662688
9      0.615186
66     0.482426
11     0.625938
12     0.683097
13     0.570980
Name: altura, dtype: float64

In [272]:
dfcol

,nombre y apellido,edad,sexo,pesos,altura,colesterol,imc,date
100,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,26.528510,2024-10-19
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,21.718066,2024-10-19
2,Javier García Sánchez,24,H,NaN,1.81,191.0,NaN,2024-10-19
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,22.491349,2024-10-19
4,Marisa López Collado,46,M,51.0,1.58,148.0,20.429418,2024-10-19
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,21.799445,2024-10-19
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,20.957274,2024-10-19
7,Pilar Martín González,22,M,60.0,1.66,NaN,21.773842,2024-10-19
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,23.913275,2024-10-19
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,21.913806,2024-10-19
66,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,20.957171,2024-10-19
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,22.305471,2024-10-19
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,27.803285,2024-10-19
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,19.470778,2024-10-19

In [273]:
#categorizar los datos mediante función
def calc_es_sobrepeso(val):
    if  val < 18.5 : return 'bajo'
    elif val >= 18.5  and val <= 24.9: return 'normal'
    elif val >= 25  and val <= 29.9: return 'sobrepeso'
    elif val >= 30: return 'obeso'

In [274]:
dfcol['estado_peso']=dfcol['imc'].apply(calc_es_sobrepeso) #nueva columna aplicando apply con una función
dfcol

,nombre y apellido,edad,sexo,pesos,altura,colesterol,imc,date,estado_peso
100,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,24,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,46,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,22,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
66,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [275]:
# pop se utiliza para extraer, que aplicado a un dataframe, me saca una serie
serie_edad=dfcol.pop('edad')
print(serie_edad)
print (dfcol)

100    18
1      32
2      24
3      35
4      46
5      68
6      51
7      22
8      35
9      46
66     53
11     58
12     27
13     20
Name: edad, dtype: int32
                   nombre y apellido sexo  pesos  altura  colesterol  \
100     José Luis Martínez Izquierdo    H   85.0    1.79       182.0
1                     Rosa Díaz Díaz    M   65.0    1.73       232.0
2              Javier García Sánchez    H    NaN    1.81       191.0
3                Carmen López Pinzón    M   65.0    1.70       200.0
4               Marisa López Collado    M   51.0    1.58       148.0
5                  Antonio Ruiz Cruz    H   66.0    1.74       249.0
6            Antonio Fernández Ocaña    H   62.0    1.72       276.0
7              Pilar Martín González    M   60.0    1.66         NaN
8               Pedro Gálvez Tenorio    H   90.0    1.94       241.0
9            Santiago Reillo Manzano    H   75.0    1.85       280.0
66             Macarena Álvarez Luna    M   55.0    1.62       262.0
11        José María de la Guía Sanz    H   78.0    1.87       198.0
12   Miguel Angel Cuadrado Gutiérrez    H  109.0    1.98       210.0
13             Carolina Rubio Moreno    M   61.0    1.77       194.0

           imc       date estado_peso
100  26.528510 2024-10-19   sobrepeso
1    21.718066 2024-10-19      normal
2          NaN 2024-10-19        None
3    22.491349 2024-10-19      normal
4    20.429418 2024-10-19      normal
5    21.799445 2024-10-19      normal
6    20.957274 2024-10-19      normal
7    21.773842 2024-10-19      normal
8    23.913275 2024-10-19      normal
9    21.913806 2024-10-19      normal
66   20.957171 2024-10-19      normal
11   22.305471 2024-10-19      normal
12   27.803285 2024-10-19   sobrepeso
13   19.470778 2024-10-19      normal

# Operaciones con Filas

In [ ]:
# anñadir filas con concat; n dataframes a concadenar

In [278]:
nueva_fila=dfcol.iloc[-1]
nueva_fila

nombre y apellido    Carolina Rubio Moreno
sexo                                     M
pesos                                 61.0
altura                                1.77
colesterol                           194.0
imc                              19.470778
date                   2024-10-19 00:00:00
estado_peso                         normal
Name: 13, dtype: object

In [ ]:
pd.concat((dfcol,nueva_fila), ignore_index=True) # añade como una primara columna

,0,altura,colesterol,date,estado_peso,imc,nombre y apellido,pesos,sexo
0,NaN,1.79,182.0,2024-10-19,sobrepeso,26.528510,José Luis Martínez Izquierdo,85.0,H
1,NaN,1.73,232.0,2024-10-19,normal,21.718066,Rosa Díaz Díaz,65.0,M
2,NaN,1.81,191.0,2024-10-19,None,NaN,Javier García Sánchez,NaN,H
3,NaN,1.70,200.0,2024-10-19,normal,22.491349,Carmen López Pinzón,65.0,M
4,NaN,1.58,148.0,2024-10-19,normal,20.429418,Marisa López Collado,51.0,M
5,NaN,1.74,249.0,2024-10-19,normal,21.799445,Antonio Ruiz Cruz,66.0,H
6,NaN,1.72,276.0,2024-10-19,normal,20.957274,Antonio Fernández Ocaña,62.0,H
7,NaN,1.66,NaN,2024-10-19,normal,21.773842,Pilar Martín González,60.0,M
8,NaN,1.94,241.0,2024-10-19,normal,23.913275,Pedro Gálvez Tenorio,90.0,H
9,NaN,1.85,280.0,2024-10-19,normal,21.913806,Santiago Reillo Manzano,75.0,H
10,NaN,1.62,262.0,2024-10-19,normal,20.957171,Macarena Álvarez Luna,55.0,M
11,NaN,1.87,198.0,2024-10-19,normal,22.305471,José María de la Guía Sanz,78.0,H
12,NaN,1.98,210.0,2024-10-19,sobrepeso,27.803285,Miguel Angel Cuadrado Gutiérrez,109.0,H
13,NaN,1.77,194.0,2024-10-19,normal,19.470778,Carolina Rubio Moreno,61.0,M
14,Carolina Rubio Moreno,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
15,M,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
16,61.0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
17,1.77,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
18,194.0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
19,19.470778,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
20,2024-10-19 00:00:00,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
21,normal,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [294]:
#necesito data frame
nueva_fila=pd.DataFrame([dfcol.iloc[-1]])
print(nueva_fila)
pd.concat((dfcol,nueva_fila), ignore_index=True)

        nombre y apellido sexo  pesos  altura  colesterol        imc  \
13  Carolina Rubio Moreno    M   61.0    1.77       194.0  19.470778

         date estado_peso
13 2024-10-19      normal

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal
14,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [304]:
#eliminar filas concretas con drop
dfcol.drop(index=[1,3])

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
100,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
66,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [305]:
dfcol.dropna()

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
100,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
66,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [329]:
dfcol.replace({'H':'varón','M':'mujer'}) #diferente a "rename" de columnas
#ojo que no me guarda el df! hay qye renombrarlo

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
100,José Luis Martínez Izquierdo,varón,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,mujer,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,varón,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,mujer,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,mujer,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,varón,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,varón,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,mujer,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,varón,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,varón,75.0,1.85,280.0,21.913806,2024-10-19,normal
66,Macarena Álvarez Luna,mujer,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,varón,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,varón,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,mujer,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [330]:
dfcol

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
100,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
66,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [331]:
dfcol.rename(index={100:0})

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
66,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [337]:
# ordenar filas
dfcol

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
100,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
66,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal

In [342]:
dfcol.sort_values(['sexo','altura'],ascending=[True,False])

,nombre y apellido,sexo,pesos,altura,colesterol,imc,date,estado_peso
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,27.803285,2024-10-19,sobrepeso
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,23.913275,2024-10-19,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,22.305471,2024-10-19,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,21.913806,2024-10-19,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,NaN,2024-10-19,None
100,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,26.528510,2024-10-19,sobrepeso
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,21.799445,2024-10-19,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,20.957274,2024-10-19,normal
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,19.470778,2024-10-19,normal
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,21.718066,2024-10-19,normal
3,Carmen López Pinzón,M,65.0,1.70,200.0,22.491349,2024-10-19,normal
7,Pilar Martín González,M,60.0,1.66,NaN,21.773842,2024-10-19,normal
66,Macarena Álvarez Luna,M,55.0,1.62,262.0,20.957171,2024-10-19,normal
4,Marisa López Collado,M,51.0,1.58,148.0,20.429418,2024-10-19,normal

In [21]:
# Agrupamiento
dfcol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [22]:
dfcol.groupby('sexo') #genera un objeto

In [23]:
dfcol.groupby('sexo').groups #me genera como un diccionaroo de lo que me quiere mostrar

{'H': [0, 2, 5, 6, 8, 9, 11, 12], 'M': [1, 3, 4, 7, 10, 13]}

In [24]:
dfcol.groupby('sexo').first()

                            nombre  edad  peso  altura  colesterol
sexo
H     José Luis Martínez Izquierdo    18  85.0    1.79       182.0
M                   Rosa Díaz Díaz    32  65.0    1.73       232.0

In [25]:
dfcol.groupby('sexo').get_group('H')

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0

In [34]:
dfcol.groupby(['sexo','peso']).groups #ojo el groupby no me genera un dataframe

{('H', 85.0): [0], ('H', nan): [2], ('H', 62.0): [6], ('H', 66.0): [5], ('H', 75.0): [9], ('H', 78.0): [11], ('H', 90.0): [8], ('H', 109.0): [12], ('M', 51.0): [4], ('M', 55.0): [10], ('M', 60.0): [7], ('M', 61.0): [13], ('M', 65.0): [1, 3]}

In [36]:
dfcol.groupby(['sexo','peso']).first() # se genera multiíndice con + de 2 columnas

                                     nombre  edad  altura  colesterol
sexo peso
H    62.0           Antonio Fernández Ocaña    51    1.72       276.0
     66.0                 Antonio Ruiz Cruz    68    1.74       249.0
     75.0           Santiago Reillo Manzano    46    1.85       280.0
     78.0        José María de la Guía Sanz    58    1.87       198.0
     85.0      José Luis Martínez Izquierdo    18    1.79       182.0
     90.0              Pedro Gálvez Tenorio    35    1.94       241.0
     109.0  Miguel Angel Cuadrado Gutiérrez    27    1.98       210.0
M    51.0              Marisa López Collado    46    1.58       148.0
     55.0             Macarena Álvarez Luna    53    1.62       262.0
     60.0             Pilar Martín González    22    1.66         NaN
     61.0             Carolina Rubio Moreno    20    1.77       194.0
     65.0                    Rosa Díaz Díaz    32    1.73       232.0

In [33]:
dfcol.groupby(['sexo','peso']).first()

                                     nombre  edad  altura  colesterol
sexo peso
H    62.0           Antonio Fernández Ocaña    51    1.72       276.0
     66.0                 Antonio Ruiz Cruz    68    1.74       249.0
     75.0           Santiago Reillo Manzano    46    1.85       280.0
     78.0        José María de la Guía Sanz    58    1.87       198.0
     85.0      José Luis Martínez Izquierdo    18    1.79       182.0
     90.0              Pedro Gálvez Tenorio    35    1.94       241.0
     109.0  Miguel Angel Cuadrado Gutiérrez    27    1.98       210.0
M    51.0              Marisa López Collado    46    1.58       148.0
     55.0             Macarena Álvarez Luna    53    1.62       262.0
     60.0             Pilar Martín González    22    1.66         NaN
     61.0             Carolina Rubio Moreno    20    1.77       194.0
     65.0                    Rosa Díaz Díaz    32    1.73       232.0

In [ ]:
df2=pd.DataFrame(dfcol.groupby(['sexo','peso'])) #noooooooooo ; el groupby no me genera una un dataframe
df2

             0                                                  1
0    (H, 62.0)                      nombre  edad sexo  peso  a...
1    (H, 66.0)                nombre  edad sexo  peso  altura ...
2    (H, 75.0)                      nombre  edad sexo  peso  a...
3    (H, 78.0)                          nombre  edad sexo  pes...
4    (H, 85.0)                           nombre  edad sexo  pe...
5    (H, 90.0)                   nombre  edad sexo  peso  altu...
6   (H, 109.0)                               nombre  edad sexo...
7    (M, 51.0)                   nombre  edad sexo  peso  altu...
8    (M, 55.0)                     nombre  edad sexo  peso  al...
9    (M, 60.0)                    nombre  edad sexo  peso  alt...
10   (M, 61.0)                     nombre  edad sexo  peso  al...
11   (M, 65.0)                  nombre  edad sexo  peso  altur...

In [37]:
#groupby no genera en sí un dataframe; puede ayudar aplicar agregaciones
dfcol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [38]:
import numpy as np

In [42]:
dfcol.aggregate(np.sum) #puede "sumar" texto

nombre        José Luis Martínez IzquierdoRosa Díaz DíazJavi...
edad                                                        535
sexo                                             HMHMMHHMHHMHHM
peso                                                      922.0
altura                                                    24.76
colesterol                                               2863.0
dtype: object

In [51]:
dfcol.aggregate('mean')

edad           38.214286
peso           70.923077
altura          1.768571
colesterol    220.230769
dtype: float64

In [48]:
dfcol.aggregate(['sum','min','max'])
# dfcol.aggregate([np.sum','min','max']) también vale

,nombre,edad,sexo,peso,altura,colesterol
sum,José Luis Martínez IzquierdoRosa Díaz DíazJavi...,535,HMHMMHHMHHMHHM,922.0,24.76,2863.0
min,Antonio Fernández Ocaña,18,H,51.0,1.58,148.0
max,Santiago Reillo Manzano,68,M,109.0,1.98,280.0

In [53]:
dfcol.groupby('sexo').agg('mean') #agregación sobre grupos

           edad       peso    altura  colesterol
sexo
H     40.875000  80.714286  1.837500     228.375
M     34.666667  59.500000  1.676667     207.200

In [23]:
dfcol.groupby('sexo').agg({'edad':'mean','altura':'sum'}) #estas agrupaciones son para obsdervar y sacar concluiones

           edad  altura
sexo
H     40.875000   14.70
M     34.666667   10.06

In [22]:
dfcol.groupby('sexo')['edad'].mean() # también se puede escribir así, del perfilado

sexo
H    40.875000
M    34.666667
Name: edad, dtype: float64

In [ ]:
dfcol.groupby(['sexo','peso']).agg('sum') #como no se repiten los pesos no se suma

            edad  altura  colesterol
sexo peso
H    62.0     51    1.72       276.0
     66.0     68    1.74       249.0
     75.0     46    1.85       280.0
     78.0     58    1.87       198.0
     85.0     18    1.79       182.0
     90.0     35    1.94       241.0
     109.0    27    1.98       210.0
M    51.0     46    1.58       148.0
     55.0     53    1.62       262.0
     60.0     22    1.66         0.0
     61.0     20    1.77       194.0
     65.0     67    3.43       432.0

In [170]:
datos = {'nombre': ['María', 'Luis', 'Carmen'],
         'edad': [18, 22, 20],
         'Matemáticas': [8.5, 7, 3.5],
         'Economía': [8, 6.5, 5],
         'Programación': [6.5, 4, 9]}

df=pd.DataFrame(datos)
df

   nombre  edad  Matemáticas  Economía  Programación
0   María    18          8.5       8.0           6.5
1    Luis    22          7.0       6.5           4.0
2  Carmen    20          3.5       5.0           9.0

In [171]:
dfm=df.melt(id_vars=['nombre','edad'],var_name="Asignatura",value_name="Nota")
dfm

   nombre  edad    Asignatura  Nota
0   María    18   Matemáticas   8.5
1    Luis    22   Matemáticas   7.0
2  Carmen    20   Matemáticas   3.5
3   María    18      Economía   8.0
4    Luis    22      Economía   6.5
5  Carmen    20      Economía   5.0
6   María    18  Programación   6.5
7    Luis    22  Programación   4.0
8  Carmen    20  Programación   9.0

In [172]:
dfm.pivot(columns='Asignatura',index='nombre',values='Nota')

Asignatura  Economía  Matemáticas  Programación
nombre
Carmen           5.0          3.5           9.0
Luis             6.5          7.0           4.0
María            8.0          8.5           6.5

In [173]:
dfcol

,nombre,sexo,peso,altura,colesterol,date,imc,estado_peso
0,José Luis Martínez Izquierdo,H,85.0,1.79,182.0,2024-10-19,26.528510,sobrepeso
1,Rosa Díaz Díaz,M,65.0,1.73,232.0,2024-10-19,21.718066,normal
2,Javier García Sánchez,H,NaN,1.81,191.0,2024-10-19,NaN,None
3,Carmen López Pinzón,M,65.0,1.70,200.0,2024-10-19,22.491349,normal
4,Marisa López Collado,M,51.0,1.58,148.0,2024-10-19,20.429418,normal
5,Antonio Ruiz Cruz,H,66.0,1.74,249.0,2024-10-19,21.799445,normal
6,Antonio Fernández Ocaña,H,62.0,1.72,276.0,2024-10-19,20.957274,normal
7,Pilar Martín González,M,60.0,1.66,NaN,2024-10-19,21.773842,normal
8,Pedro Gálvez Tenorio,H,90.0,1.94,241.0,2024-10-19,23.913275,normal
9,Santiago Reillo Manzano,H,75.0,1.85,280.0,2024-10-19,21.913806,normal
10,Macarena Álvarez Luna,M,55.0,1.62,262.0,2024-10-19,20.957171,normal
11,José María de la Guía Sanz,H,78.0,1.87,198.0,2024-10-19,22.305471,normal
12,Miguel Angel Cuadrado Gutiérrez,H,109.0,1.98,210.0,2024-10-19,27.803285,sobrepeso
13,Carolina Rubio Moreno,M,61.0,1.77,194.0,2024-10-19,19.470778,normal

In [174]:
dfcol.pivot(columns=['sexo'],index='nombre',values=['peso'])

                                  peso
sexo                                 H     M
nombre
Antonio Fernández Ocaña           62.0   NaN
Antonio Ruiz Cruz                 66.0   NaN
Carmen López Pinzón                NaN  65.0
Carolina Rubio Moreno              NaN  61.0
Javier García Sánchez              NaN   NaN
José Luis Martínez Izquierdo      85.0   NaN
José María de la Guía Sanz        78.0   NaN
Macarena Álvarez Luna              NaN  55.0
Marisa López Collado               NaN  51.0
Miguel Angel Cuadrado Gutiérrez  109.0   NaN
Pedro Gálvez Tenorio              90.0   NaN
Pilar Martín González              NaN  60.0
Rosa Díaz Díaz                     NaN  65.0
Santiago Reillo Manzano           75.0   NaN