In [1]:
import pandas as pd

In [2]:
diccionario= {'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
       'edad': [18, 22, 20, 21],
       'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
       'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
       }
       
Lista_de_Listas = [['María', 18],
         ['Luis', 22],
         ['Carmen', 20]]
                  
Lista_diccionario = [{'Nombre': 'María', 'Edad': 18},
         {'Nombre': 'Luis', 'Edad': 22},
         {'Nombre': 'Carmen'}]

In [3]:
print(diccionario)  # también se puedesn generar df con arrays
print(Lista_de_Listas)
print(Lista_diccionario)

{'nombre': ['María', 'Luis', 'Carmen', 'Antonio'], 'edad': [18, 22, 20, 21], 'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'], 'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']}
[['María', 18], ['Luis', 22], ['Carmen', 20]]
[{'Nombre': 'María', 'Edad': 18}, {'Nombre': 'Luis', 'Edad': 22}, {'Nombre': 'Carmen'}]

In [4]:
df=pd.DataFrame(diccionario)
df

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [5]:
df=pd.DataFrame(Lista_de_Listas)
df

        0   1
0   María  18
1    Luis  22
2  Carmen  20

In [6]:
df=pd.DataFrame(Lista_diccionario)
df

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

In [7]:
df=pd.DataFrame(Lista_de_Listas, columns=["Nombre","Edad"])
df

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

In [8]:
# Desde fuentes read;
#para deescargar y descomprimir: wget https://github.com/ricardoahumada/DataScienceBasics/raw/refs/heads/main/data/data.zip
# unzip data.zip (en el directorio que quiero que de descarge y descomprima)
# pd.read_csv (ruta)

In [9]:
dfcol=pd.read_csv('../Data/colesterol.csv')
print(dfcol)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [10]:
dfcol=pd.read_csv('https://raw.githubusercontent.com/ricardoahumada/DataScienceBasics/refs/heads/main/data/colesterol.csv')
print (dfcol) #también se puede cargar directamente con url (wget y con raw)

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [13]:
dffr=pd.read_json('../Data/frutas.json')
dffr

       apples  oranges
Luis        3        0
Ana         2        3
Juana       0        7
Pedro       1        2

In [15]:
#squlite es tipo de bbdd; necesitaremos las librerías correspondientes
import sqlite3

In [ ]:
con_sqlite=sqlite3.connect('../Data/database.db') #bbdd sencillita;la conexión puede ser una url si está en local
dfdb=pd.read_sql_query("SELECT * FROM movies",con_sqlite)
con_sqlite.close() # es conveniente cerrar la conexión; más importante si es bbdd en un servidor, reduce rendimiento
dfdb

,title,movieId,genres
0,Toy Story (1995),1,Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),2,Adventure|Children|Fantasy
2,Grumpier Old Men (1995),3,Comedy|Romance
3,Waiting to Exhale (1995),4,Comedy|Drama|Romance
4,Father of the Bride Part II (1995),5,Comedy
...,...,...,...
9737,Black Butler: Book of the Atlantic (2017),193581,Action|Animation|Comedy|Fantasy
9738,No Game No Life: Zero (2017),193583,Animation|Comedy|Fantasy
9739,Flint (2017),193585,Drama
9740,Bungo Stray Dogs: Dead Apple (2018),193587,Action|Animation
9741,Andrew Dice Clay: Dice Rules (1991),193609,Comedy

In [ ]:
!pip install openpyxl # necesario para abrir y explorar xls

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 4.2 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [30]:
import openpyxl

In [32]:
dfxls=pd.read_excel('../Data/FoodMarket.xlsx',sheet_name='Purchases') #hay que conocer las hojas
dfxls

      Code  Product  Seller  Buyer      Fecha  Quantity
0        1       15      37     90 2020-11-10        25
1        2       46      32     51 2020-09-19        16
2        3       44      27    166 2019-02-19        25
3        4       52      21     68 2020-06-08        40
4        5       20      21    185 2019-01-18        36
...    ...      ...     ...    ...        ...       ...
1496  1497       10      18    199 2020-11-23        34
1497  1498       63      58     38 2020-03-13        35
1498  1499       28       5     81 2020-03-02        31
1499  1500       21       2    194 2021-02-18        35
1500  1501       33       8    120 2020-03-13        12

[1501 rows x 6 columns]

In [33]:
#transformación y guardar como
dfxls.to_csv('../Data/Purchases.csv')

In [34]:
dfxls.to_json('../Data/Purchases.json')