# Ejercicios Pandas Series

1. Escribe un programa Pandas para cambiar el tipo de datos de una columna o serie dada.

```
Serie de muestra:
    Serie de datos originales:
0       100
1       200
2    python
3    300.12
4       400
dtype: objeto
Cambio a numérico:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
tipo: float64
```

In [25]:
import pandas as pd
import numpy as np

In [26]:
s = pd.Series(['100', '200', 'python', '300.12', '400']) #como es objeto (serie textual), hay que ponerlo como texto
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [27]:
st=pd.to_numeric(s,errors='coerce') #hay que pasar una condición para que ignore los datos 
# que no se pueden pasar a números
st

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

2. Escribe un programa Pandas para convertir series de listas en una serie.

```
Ejemplo de salida:
Serie original de listas
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: objeto
Una serie:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: objeto
```

In [28]:
s1=pd.Series([['Red','Green','White'],['Red','Black'],['Yellow']])
s1

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [29]:
s2=s1.apply(pd.Series)
s2

        0      1      2
0     Red  Green  White
1     Red  Black    NaN
2  Yellow    NaN    NaN

In [30]:
s3=s2.stack() #ha generado un multiíndice
s3

0  0       Red
   1     Green
   2     White
1  0       Red
   1     Black
2  0    Yellow
dtype: object

In [31]:
s3.reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [32]:
# en una sola línea
s1.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

3. Escribe un programa Pandas para agregar algunos datos a una serie existente.

```
Ejemplo de salida:
Serie de datos originales:
0       100
1       200
2    python
3    300.12
4       400
dtype: objeto

Serie de datos después de agregar algunos datos:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: objeto
```

In [33]:
s = pd.Series(['100', '200', 'python', '300.12', '400']) 
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [34]:
s1=pd.Series(['500','php'])
s1

0    500
1    php
dtype: object

In [35]:
s2=pd.concat([s,s1]) # salen los índices añadidos
s2

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [36]:
s2=pd.concat([s,s1],ignore_index=True)
s2

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [37]:
s2.reset_index()

   index       0
0      0     100
1      1     200
2      2  python
3      3  300.12
4      4     400
5      5     500
6      6     php

In [38]:
s2.reset_index(drop=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

4. Escribe un programa Pandas para crear otra serie con un subconjunto de datos según un valor y una condición dada.

```
Ejemplo de salida:
Serie de datos originales:
0      0
1      1
2      2

....

9      9
10    10
tipo: int64

Subconjunto de la serie de datos anterior:
0    0
1    1
2    2
3    3
4    4
5    5
tipo: int64
```

In [39]:
s=pd.Series(list(range(11)))
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [40]:
s[s<=5]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

5. Escribe un programa Pandas para cambiar el orden del índice de una serie dada.

```
Ejemplo de salida:
Serie de datos originales:
A    1
B    2
C    3
D    4
E    5
tipo: int64

Serie de datos después de cambiar el orden del índice:
B    2
A    1
C    3
D    4
E    5
tipo: int64
```

In [41]:
s=pd.Series({'A':1,'B':2,'C':3,'D':4,'E':5})
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [42]:
s=pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E']) # otra opción con lista
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [43]:
s.reindex(['B','A','C','D','E'])

B    2
A    1
C    3
D    4
E    5
dtype: int64

6. Escribe un programa Pandas para obtener los elementos de una serie dada que no están presentes en otra serie dada.

```
Ejemplo de salida:  
Serie original:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Elementos de sr1 no presentes en sr2:
0    1
2    3
4    5
tipo: int64
```

In [44]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print(sr1)
print(sr2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [45]:
mask=sr1.isin(sr2) # esto será una máscara; tengo que poner la"ñ" para que sea lo contrario
print (mask)
sr1[mask]

0    False
1     True
2    False
3     True
4    False
dtype: bool

1    2
3    4
dtype: int64

In [47]:
mask=sr1.isin(sr2)
print (mask)
sr1[mask]

0    False
1     True
2    False
3     True
4    False
dtype: bool

1    2
3    4
dtype: int64

7. Escribe un programa Pandas para calcular el mínimo, el percentil 25, la mediana, el percentil 75 y el máximo de una serie dada.

```
Ejemplo de salida:
Serie original:
Original Series:
0      3.000938
1     11.370722
2     14.612143

....

17    14.118931
18     8.247458
19     5.526727
tipo: float64

Mínimo, percentil 25, mediana, 75 y máximo de una serie dada:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]
```

8. Escribe un programa Pandas para calcular los conteos de frecuencia de cada valor único de una serie dada.

```
Ejemplo de salida:
Serie original:
0     1
1     7
2     1
3     6

...


37    0
38    4
39    8
dtype: objeto
Frecuencia de cada valor único de dicha serie.
0    9
2    7
9    6
....
3    2
4    1
5    1
tipo: int64
```

In [ ]:
#cont.value

9. Escribe un programa Pandas para mostrar el valor más frecuente en una serie dada y reemplazar todo lo demás con el valor 'Otro'.

```
Ejemplo de salida:
Serie original:
0     3
1     1
2     1
3     3
...
12    2
13    3
14    3
dtype: int64

frecuencias principales: 
2    6
3    5
1    4
tipo: int64

0     Otro
1     Otro
2     Otro
3     Otro
...
11        2
12        2
13    Otro
14    Otro
dtype: objeto
```

**Tip**: usar isin (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html)

In [50]:
import numpy as np # necesitamos numpy para crear numeros aleatorios
num=np.random.randint(1,5,[15])
num

array([1, 1, 3, 1, 1, 1, 2, 1, 2, 3, 4, 3, 1, 2, 2])

In [70]:
num=np.random.randint(1,5,[15])
s=pd.Series(num)
print(s)
conteo=s.value_counts()
print(conteo)
print(conteo.index)
print(conteo.index[0])

0     3
1     3
2     2
3     1
4     4
5     2
6     4
7     2
8     3
9     1
10    4
11    1
12    1
13    2
14    2
dtype: int64
2    5
1    4
3    3
4    3
dtype: int64
Int64Index([2, 1, 3, 4], dtype='int64')
2

In [73]:
mask=s.isin([conteo.index[0]])
mask

0     False
1     False
2      True
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13     True
14     True
dtype: bool

In [78]:
mask2=s.isin([conteo.index[0]]) #hay que poner el signo de ñ, que no lo encuentro"
mask2
s[mask]="Otro"
s

0        3
1        3
2     Otro
3        1
4        4
5     Otro
6        4
7     Otro
8        3
9        1
10       4
11       1
12       1
13    Otro
14    Otro
dtype: object

10. Escribe un programa Pandas para obtener las posiciones de los elementos de una serie dada en otra serie dada.

```
Ejemplo de salida:  
Serie original:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
tipo: int64
0     1
1     3
2     5
3     7
4    10
tipo: int64
Posiciones de los elementos de la serie 2 en la serie 1:
[0, 2, 4, 6, 9]
```

11. Escribe un programa Pandas que convierta el primer y el último carácter de cada palabra a mayúsculas en cada palabra de una serie dada.

```
Ejemplo de salida:
Serie original:
0       php
1    python
2      java
3        c#
dtype: objeto

Primer y último carácter de cada palabra en mayúscula:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: objeto
```

12. Escribe un programa Pandas para calcular la diferencia de diferencias entre números consecutivos de una serie dada.

```
Ejemplo de salida:
Serie original:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
tipo: int64

Diferencia de diferencias entre números consecutivos de la serie:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]
```